<div class="publications">
  {% if page.selected_papers_keys and page.selected_papers_keys.size > 0 %}
    {% selected_bibliography %}
  {% else %}
    {% bibliography --group_by none --query @*[selected=true]* %}
  {% endif %}
</div>
